// h1{
//   padding-left:300px;
//   padding-right:300px;

// }

.row{
  background-color:#A7A8AA;;
}

// .col-8{
//   padding-left:300px;

// }


.container-2{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
      background-color:#A7A8AA;

}


.my-container{
  width: auto;
  background-color:#A7A8AA;

}
