
<div class="banner" style="background-color: #A7A8AA; padding-bottom: 88px" >


<div class="row">

    <div class="col-8 mt-3" style="background-color:#A7A8AA;align-items: center; position: relative; margin:0 auto;">
        <h1 style="text-align: center; padding-top: 64px; color:black;" ><i> BREAKING BARRIERS TO LEARNING </i></h1>

    </div>

</div>

  <div class="container">
  <div class="row"style="background-color:#A7A8AA;">

<div class="col-8" style="padding-top: 40px;">

              <p style="text-align:left; padding-top: 64px; justify-content: center;  color: black;"> Smart Multi Skills Hub is a registered non-profit organisation that aims to shape the future of our Communities.  We instill Fundamental Skills and share knowledge within impoverished communities like Eldoradopark and it's surrounding areas. Socio-economic development within our community is a priority for us. We believe in empowering our people through means of education and offer a number of training programmes as well as soft-skills development programmes, entrepeneurial programmes and jump start job creation initiatives. We are firm believers in the empowerment of women and run a number of women in construction programmes.</p>


</div>

    <div class="col-4" style="padding-top: 80px; padding-left: 24px;">

        <%= image_tag "banner-1.jpg", class: "banpic" %>

    </div>
  </div>


  <div class="row">
    <div class="col-6">
      <div><h2 style="padding-top: 80px; font-weight: 700;">Our Goals</h2></div>
      <div>
<h4 style="padding-top: 16px; font-weight: 500; ">To alleviate poverty and develop our community in our lifetime</h4 style="padding-top: 16px; font-weight: 500;">
 <h4 style="padding-top: 16px; font-weight: 500;">To create opportunities for employment</h4 style="padding-top: 16px; font-weight: 500;">
   <h4 style="padding-top: 16px; font-weight: 500;">To empower women within our community</h4 style="padding-top: 16px; font-weight: 500;">

  <h4 style="padding-top: 16px; font-weight: 500;">To make knowlegde and education more accessible to people living in our communities</h4 style="padding-top: 16px; font-weight: 500;">



    </div>
    </div>
  </div>


  </div>
</div>

